<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/> -->
    <title style='color:white'> Edit Comment</title>
</head>
<body style="background-image: url(https://images.pexels.com/photos/3683107/pexels-photo-3683107.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">
  
       
    </div>
    <h1 style='color:white'>Edit Page | <%= secret.content%></h1>
    <div>
        <form method="POST" action="/secrets/<%= secret._id %>?_method=PUT">
            <div>
                <label style='color:white'>Secret Content</label>
                <input type="text" name="content" value="<%= secret.content%>"/>
            </div>
            <div>
                <label style='color:white'>Secret Category</label>
                <input type="text" name="category" value="<%= secret.category%>"/>
            </div>
            
            <div>
                <input  type="submit" value="Edit Secret: <%= secret.content%>"/>
            </div>
            </form>
            <div>
                <form method="POST" action="/secrets/<%= secret._id%>?_method=DELETE">  
                    <input type="submit" value="Delete Secret"/>
                </form>
            </div>
</body>
</html>