<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs')  %> >

<body style="background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-hand-drawn-doodle-questions-marks-vector-vector-id1177323484?k=20&m=1177323484&s=612x612&w=0&h=BoPsIQPMemLJaAe4ZNWN8AWYdSWfZZgcDSbFf3joIZQ=); background-size: 100vw; background-repeat: repeat-y; background-size: 100vw;  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;">
    <%- include('partials/nav.ejs')%>

       
    </div>
    <h1 style='color: lightseagreen; background-color: white; border-radius: 25px;'> Edit Page | <%= secret.content%></h1>
    <div>
        <form method="POST" action="/secrets/<%= secret._id %>?_method=PUT">
            <div>
                
                <label style='color: lightseagreen; font-size: 40px; background-color: white; border-radius: 25px' >Edit Your Secret</label> 
                <input style= 'font-size: 40px;border-radius: 25px' type="text" name="content" value="<%= secret.content%>"/>
            </div>
            
            
            <div style="border-radius: 25px">
                <input  type="submit" value="Edit Secret"/>
            </div>
            </form>
            <div style="border-radius: 25px;">
                <form method="POST" action="/secrets/<%= secret._id%>?_method=DELETE">  
                    <input type="submit" value="Delete Secret"/>
                </form>
            </div>
</body>
</html>