<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Edit Comment</title>
</head>
<body>
    
    <h1>Edit Page | <%= secret.content%></h1>
    <div>
        <form method="POST" action="/secrets/<%= secret._id %>?_method=PUT">
            <div>
                <label>Secret Content</label>
                <input type="text" name="content" value="<%= secret.content%>"/>
            </div>
            <div>
                <label>Secret Category</label>
                <input type="text" name="category" value="<%= secret.category%>"/>
            </div>
            
            <div>
                <input type="submit" value="Edit Secret: <%= secret.content%>"/>
            </div>
        </form>
    </div>
</body>
</html>