<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs')  %> 

<body style="background-image: url(https://media.istockphoto.com/photos/white-lines-and-spheres-picture-id1135638647?b=1&k=20&m=1135638647&s=170667a&w=0&h=j32QwPBMCmdX9ViKWvitis6N3l3Wl-lBEl1Ut9ImiBk=); background-size: 100vw; background-repeat: repeat-y; ">
    
    <%- include('partials/nav.ejs')%>

    <section>
        <div>
            <h1 style='color:hotpink; font-size: 80px; text-align: center;' class="title">Confessions</h1>
        </div>
    </section>
    <main class="container">
    
               
                
               <% for(let idx=0; idx < secrets.length; idx++){ %>
                <% const secret = secrets[idx]  %>
                <div style= "background-image: url(./portalimg/Portal10.JPG)" class="secret_container">
                <h3  style= 'color: black; text-align: left; font-size: 15px'; >  <%=secrets[idx].category%></h3>
                <h3  style='color: black;font-size: 25px' > <%=secrets[idx].content%> </h3>
                <h3  style='color: black' ><%=secret.username.username%></h3>
            
                <div id="bottom">
                    <div id = "edit">
                        <a style='color:white;' href="/secrets/<%= secrets[idx]._id %>/edit">Edit</a>
                        <a style='color:white;' href="/secrets/<%=secrets[idx]._id%>">Comment</a>
                    </div>
                        
                    </div>
                </div>
                </div>
                <% } %>
           
    
    </main>
</body>
</html>