<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section>
        <div>
            <h2 class="title">Confessions</h2>
        </div>
    </section>

    <main class="container">
        <div>
            <div>
              
               <h1>This is our secret index</h1>
               <a href="/secrets/new/<%=secrets._id%>"><%= secrets.confessor %> Add Your Secret</a>
               <% for(let idx=0; idx < secrets.length; idx++){ %>
                <% const secret = secrets[idx]  %>
                <h1> <%=secrets[idx].content%> </h1>
                <h1><%=secrets[idx].category%></h1>
                <h1><%=secrets[idx].confessor%></h1>
                <a href="/secrets/<%= secrets[idx]._id %>/edit">Edit <%= secrets[idx].content %></a>
                <a href="/secrets/<%=secrets[idx]._id%>"><%= secrets[idx].confessor %> Comment Here</a>
                <div>
                    <form method="POST" action="/secrets/<%= secret._id%>?_method=DELETE">  
                        <input type="submit" value="Delete Secret"/>
                    </form>
                </div>
                <div>
               
                </div>
    
                <% } %>


            </div>
        </div>
    </main>
</body>

</html>