<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <h2 class="title">Confessions</h2>
        </div>
    </section>
    <main class="container">
        <div>
            <div>
               <h1>This is our secret index</h1>
               <a href="/secrets/new/<%=secrets._id%>"> Add Your Secret</a>
               <% for(let idx=0; idx < secrets.length; idx++){ %>
                <% const secret = secrets[idx]  %>
                <h1>category: <%=secrets[idx].category%></h1>
                <h1>secret: <%=secrets[idx].content%> </h1>
                <h1><%=secret.username.username%></h1>
                <a href="/secrets/<%= secrets[idx]._id %>/edit">Edit</a>
                <a href="/secrets/<%=secrets[idx]._id%>">Comment</a>
                <div>
               
                </div>
    
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>