<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Comment</title>
</head>
<body>
  <h1>Show Page</h1>
  <p><%= message %></p>
  <!-- secret object referenced by oneSecret -->
  <h2><%= oneSecret.content %></h2>
  <small><%= oneSecret.category %></small>
  <section>
      <h2>Comments</h2>
      <div>
          <h3>Add a Comment:</h3>
          <!-- form here -->
          <form method="POST" action="/comments">
              <input name="rating" type="number"/>
              <input name="content" type="text" />
              <input type="hidden" name="secret" value="<%=oneSecret.id%>"/>
              <input type="hidden" name="user" value="<%=oneSecret.id%>"/>
              <input type="submit" value="Share your thoughts..."/>
          </form>
      </div>
      <% console.log("id", oneSecret.id) %>
      <% console.log("_id", oneSecret._id) %>