<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs')  %> >
<body >>

  <%- include('partials/nav.ejs')%>

  <h1 style='color:white'>Show Page</h1>
  <p style='color:white' ><%= message %></p>
  <!-- secret object referenced by oneSecret -->
  <small style='color:white' ><%= oneSecret.category %></small>
  <h2 style='color:white' ><%= oneSecret.content %></h2>
  

  <section>
      <h2 style='color:white'>Comments</h2>
      <div>
          <h3 style='color:white'>Add a Comment:</h3>
      </div>
     
      <form action="/secrets/comments" method="POST">
  
      
        <input style='color: white' type="hidden" value="<%= oneSecret._id%>" name="secret">
    
        <input  type="text" name="content"/>
        <input style='color: green' type="submit" value="Comment" name="Comments.content">
      </form> 

      <div>
            <% for(let i=0; i < comments.length; i++){ %>
            <% const oneComment = comments[i]  %>
            <p style='color:white' ><%= oneComment.content %></p>
              <form action="/:id/ <%=oneComment[i]%>?_method=DELETE" method="POST">
              <input type="submit" value="delete comment" />
              </form>
          </div>
      <%}%>

      
      </html>    
      </body>
      
